/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);

body {
  display: flex;
  background-color: #111;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100dvh;
}
